<template name="footer">
  <div class="footer">
    <p>&copy; 3DCum Company LLC 20xx</p>
  </div>
</template>

<template name="feature_entry">
<tr>
    <td>{{thumbnail}}</td>
    <td><a href="{{baseurl}}/{{pagecontent}}">{{title}}</a></td>
    <td>{{date_created}}</td>
    <td>{{rating}}</td>
    <td class="upvote" id={{_id}}>*</td>
    <td class="downvote" id={{_id}}>*</td>
</tr>
</template>

<template name="base_page">
<div class="container-fluid">
  <div class="row-fluid">
    {{> web_navbar_top}}
    {{> content}}
    {{> footer}}
  </div>
</div>
</template>

<template name="content">
{{{html}}}
</template>

