<template name="setup"></template>

<template name="home">
{{>setup}}
{{> web_navbar_top}}
<div id="gameContainer">
  <canvas id="game"  width="100%"  height="100%" >
    <blink>Loading...</blink>
  </canvas>
  <canvas id="scratch" style="display: none;" width="512" height="512">

  </canvas>
</div>
</template>

<template name="login_alert">
<div class="alert">
    <strong> Please Log-In </strong>
    <a href={{home}}>{{home}}</a>
</div>
</template>

<template name="invalid_session_alert">
<div class="alert">
    <strong> Invalid Session </strong>
</div>
</template>

<template name="notfound">
{{> web_navbar_top}}
<div id="outer">
  <h1>404 Page Not Found</h1>
</div>
</template>
